<!DOCTYPE html>
<!-- Template and demo code (C) Copyright 2019 Scott Henshaw, All Rights Reserved -->
<html>
    <head>
        <title>Teddy's Bio</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <section id="game-area">
            <div id="wrapper" style="display:inline-block">
                <!-- Generated -->
            </div>
        </section>
        <script type="text/javascript" src="scripts/MineField.js"></script>
        <script type="text/javascript" src="scripts/App.js"></script>
        <script type="text/javascript" src="scripts/main.js"></script>
    </body>
</html>