<!DOCTYPE html>
<!-- Template and demo code (C) Copyright 2019 Scott Henshaw, All Rights Reserved -->
<html>
    <head>
        <title>Teddy's Bio</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <div class="wrapper">
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
        
                <ul class="social">
                    <li><a href="#" class="fb">Facebook</a></li>
                    <li><a href="#" class="linkedin">LinkedIn</a></li>
                </ul>
            </nav>

            <div id="element-id">Stuff</div>
        </div>
        <div id="footer"></div>
        <script type="text/javascript" src="scripts/main.js"></script>
    </body>
</html>