<!DOCTYPE html>
<!-- Template and demo code (C) Copyright 2019 Scott Henshaw, All Rights Reserved -->
<html>
    <head>
        <title>Scott's Template of Goodness</title>
        <link rel="stylesheet" type="text/css" href="css/style_base.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <div class="nav">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div id="footer"></div>
    </body>
</html>