body
{
    font-family: 'Inconsolata', monospace;
    text-align: center;
}

/*
Tip: In order to prevent inline-block for wrapping use 'white-space : nowrap'
https://stackoverflow.com/questions/14440276/prevent-inline-block-divs-from-wrapping
*/
#board
{
    display: block;
    white-space : nowrap;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
}

#start-menu
{
    display: inline-block;
    width: 500px;
}

.row
{
    font-size: 0px;
}

.col
{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid white;
}

.col.hidden
{
    background-color: #333;
    cursor: pointer;
}

.col.hidden:hover
{
    background-color: white
}

nav{
    background: #333;
}

nav ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav a
{
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 20px;
}

nav a:hover
{
    background-color: #555;
}