body
{
    font-family: 'Inconsolata', monospace;
    text-align: center;
}

/*
Tip: In order to prevent inline-block for wrapping use 'white-space : nowrap'
https://stackoverflow.com/questions/14440276/prevent-inline-block-divs-from-wrapping
*/

#board-container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
}

#board
{
    margin: 0 auto;
    align-content: center;
}

#start-menu
{
    display: inline-block;
    width: 500px;
}

.cell
{
    width: 40px;
    height: 40px;
    background-color: #333;
    border-bottom: solid 2px black;
    border-right: solid 2px black;
}

.cell:hover
{
    background-color: #555;
    cursor: pointer;
    border-bottom: solid 2px black;
    border-right: solid 2px black;
}

.cellClicked
{
    width: 40px;
    height: 40px;
    background-color: rgb(133, 133, 133);
    border-top: solid 2px black;
    border-left: solid 2px black;
    border-bottom: none;
    border-right: none;
}

.flag
{
    width: 40px;
    height: 40px;
    background-color: #333;
    border-bottom: solid 2px black;
    border-right: solid 2px black;
    background-size: 40px 40px;
    background-image: url("../images/faceplate.png");
}

.bomb
{
    background-size: 40px 40px;
    background-image: url("../images/facebomb.png");
}

nav
{
    background: #333;
}

nav ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav a
{
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 20px;
}

nav a:hover
{
    background-color: #555;
}

.nav-button {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 20px;
}

.nav-button:hover {
    background-color: #555;
    cursor: pointer;
}